.comments-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0 auto;
  padding-top: 20px;

  max-width: 477px;

}

.comments-section__main-header {
  margin-top: 0;

  font-size: 23px;
}

.comments-section__input-comments {
  padding: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;


  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  max-width: 517px;
  min-height: 200px;

  background-color: #fff;
}

.input-comments__user-name {
  display: block;

}

.input-comments__user-name, .input-comments__comment-textarea {
  display: block;

  margin-bottom: 10px;
}

.user-name__input, .label__comments-input {
  padding: 10px;

  font-size: 16px;

  border: 1px solid #ebebeb;
  background-color: #f9f9f9;
}

.user-name__input {
  width: 200px;
}

.user-name__input::placeholder, .label__comments-input::placeholder {
  font-size: 15px;
}

.label__comments-input {
  resize: none;
}

.input-comments__btn {
  padding: 10px;

  border: none;

  color: #fff;
  background-color: #2174fd;

  cursor: pointer;
}

.comments-section__comments-info {
  margin: 50px 0 0 0;

  font-size: 20px;
  font-style: italic;

  color: #686868;
}

.comments-section__coments-list {
  -ms-flex-item-align: start;
  align-self: flex-start;

  margin-top: 20px;

  width: 100%;
}

.coments-list__item {
  background-color: #fff;
}

.coments-list__item:not(:first-child) {
  margin-top: 20px;
}

.article__header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 20px 15px 15px;

  border-bottom: 1px solid #ebebeb;;
}

.header-section__header {
  margin: 0;

  font-size: 18px;
}

.header-section__date, .header-section__time {
  margin-left: 10px;

  color: #91919f;
}

.header-section__time  {
  padding-left: 20px;

  border: none;

  background-image: url("../img/clock_img_blue.png");
  background-position: left center;
  background-size: 14px;
  background-repeat: no-repeat;
  background-color: transparent;
}

.header-section__delete-btn {
  margin-left: auto;

  width: 30px;
  height: 30px;

  border: none;

  background-image: url("../img/cross.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  cursor: pointer
}

.article__comment {
  padding: 0 15px 15px;

  font-size: 16px;
}

