/* ширина блоков не учитвает margin */
html {
  box-sizing: border-box; 
}

/* алгоритм расчета блока наследутся от родителя */
*, 
*::before, 
*::after {
  box-sizing: inherit;
}

/* задаем начальные значения для всего документа(основной шриты в документе,  цвет и т.д.) */
body {
  /* min-width: ; */
  margin: 0;
  padding: 0;

  min-width: 320px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;

  color: #000;
  background-color: #f6f6f6;
  
  word-break: break-word;
}

/* если у нас есть модульное окно и в нем есть скролл,  то по достижении нижней границы модульного окна, основная страница не начнет проркучиваться вниз */
body.modal-active {
  overflow: hidden;
}

/* задаем максимальный размер для картинок */
img {
  max-width: 100%;
}

/* офромление ссылкок по всему доекменту */
a {
  text-decoration: none;

  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}